* {
    margin: 4px;
    background-color: rgb(6, 26, 32);
    box-sizing: border-box;
  }
  
  .header__section {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
   
  }
  
  .header__text {
    color: rgb(10, 206, 131);
    font-size: 30px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .playerDiv {
    height: auto !important;
    width: auto;
    aspect-ratio: 16/9;
    position: relative;
    object-fit: fill;
  }