.lineChart {
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 3rem;
    /* width: 80%; */
    display: flex;
    justify-content: center;
}

.weightInput, .dateInput {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1vh;
}
.weightInput{
    margin-top: 2vh;
}

.weightInput label, .dateInput label {
    width: 5rem;
}

.weightInput label {
    margin-top: 0;
}


.submitButton {
    margin: 0 1vh;
    border-radius: 10px;
    background-color: orange;
    color: var(--buttonText);
    font-size: large;
    width: 10rem;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
}

.tableHeader, .tableBody {
    text-align: center;
}


th, td {
    width: 15vh;
}

th {
    font-size: 1.5rem;
    font-weight: 500;

}

.weightInput label, .dateInput label {
    margin-right: 1rem;
}

.weightInput input, .dateInput input {
    text-align: center;
}

.weightInput input, .dateInput input {
    width: 10rem;
}

td, .weightInput, .dateInput {
    font-size: 1.25rem;
    color: var(--textColour);
}

#calorieForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.removeButton {
    width: fit-content;
}

thead {
    margin-bottom: 1rem;
}