.lineChart {
    margin-left: auto;
    margin-right: auto;

}

.weightInput {
    width: 20%;
}
.weightInput input, textarea {
   color: black;
   background-color: white;
}

.dateInput {
    width: 400px;
}

.dateInput input, textarea {
    color: black;
    background-color: white
}

.submitButton {
    width: 20%;
    margin-bottom: 2vh;
    border-radius: 20px;
    background-color: orange;
    color: white;
}
