.lineChart {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.weightInput, .dateInput, .heightInput, .ageInput, .genderInput, .exerciseInput {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1vh;
}
.weightInput, .heightInput{
    margin-top: 2vh;
}

.weightInput label, .dateInput label, .heightInput label, .ageInput label, .genderInput label, .exerciseInput label, #caloriesInput{
    width: 5rem;
}

.submitButton, .getRecipesButton, #getRecipesButton {
    margin: 0 1vh;
    border-radius: 10px;
    background-color: orange;
    color: var(--buttonText);
    font-size: 1.25rem;
    width: 10rem;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tableHeader, .tableBody {
    text-align: center;
}


th, td {
    width: 35vh;
}

th {
    font-size: 1.5rem;
    font-weight: 500;
}
tr{
    margin-bottom: 2rem;
}

.weightInput label, .dateInput label {
    margin-right: 1rem;
}

.weightInput input, .dateInput input, .heightInput input, .ageInput input, .genderInput select, .exerciseInput select, #getRecipesButton, #caloriesInput {
    text-align: center;
    width: 10rem;
}

td, .weightInput, .dateInput, .heightInput, .ageInput, .genderInput, .exerciseInput, #caloriesInput {
    font-size: 1.25rem;
    color: var(--textColour);
}

.removeButton {
    width: fit-content;
}

thead {
    margin-bottom: 1rem;
}

.error{
    color: red;
    margin-left: 2rem;
}

.gridjs tr:last-child {
    margin-bottom: 1.5rem;
    display: table-row;
    border-bottom: 2px solid #ccc;
}
  
.recipes{
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
}

.controls{
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    /* flex-direction: row-reverse; */
}