.iconImage {
    height: 2.8vh;
    border-radius: 2px;
}

.icon .nav-link {
    padding: 0.31vh 1.25vh 0.27vh 1.25vh
}

.nav-tabs .nav-link.active {
    border: 1px solid var(--textColour);
    border-radius: 10px;
    margin: 0.5vh;
    border-color: black;
}

.nav-link {
    color: var(--textColour);
    font-weight: 500;
    --bs-nav-link-hover-color: var(--buttonColour);
}

.nav-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 2vh ;
}
