* {
    margin: 4px;
    box-sizing: border-box;
  }
  
  .header__section {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(70, 70, 172);
    border-radius: 10px;
  }
  
  .header__text {
    color: white;
    font-size: 28px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .playerDiv {
    height: auto !important;
    width: auto;
    aspect-ratio: 16/9;
    position: relative;
    object-fit: fill;
  }