footer {
    /* width: 95%; */
    margin: 1rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}
  
.btn {
    font-size: 1.5rem;
}

.copyright {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-top: 1px solid #dee2e6;
}

@media screen and (max-width: 1200px) {
    .btn {
        font-size: 1.25rem;
    }

    .copyright {
        font-size: 1rem;
        height: 4rem;
    }
  }