
:root{
    --backgroundColour: white;
    --textColour: black;
    --buttonColour: orange;
    --buttonText: black;
}
* {
    margin: 0.5vh;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundColour);
    color: var(--textColour);
}

input, select{
    border-radius: 10px;
}

button {
    width: 20%;
    border-radius: 10px;
    background-color: var(--buttonColour);
    color: var(--buttonText);
}